apiVersion: v1
kind: Service
metadata:
  name: {{ include "goosed-api.fullname" . }}
  labels:
    {{- include "goosed-api.labels" . | nindent 4 }}
spec:
  type: {{ .Values.service.type }}
  ports:
    - name: http
      port: {{ .Values.service.port }}
      targetPort: http
  selector:
    {{- include "goosed-api.selectorLabels" . | nindent 4 }}
